@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-sg-regular), system-ui, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-purple-500 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-600;
  }
}
